<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okandroid.block">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/okandroid_block_app_name"
        android:supportsRtl="true">
        <provider
            android:name="com.okandroid.block.lang.BlockFileProvider"
            android:authorities="okandroid_block.${applicationId}.BlockFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/okandroid_block_file_provider" />
        </provider>
        <service
            android:name="com.okandroid.block.core.service.CoreService"
            android:exported="false"
            android:process=":okandroid_block_core" />
    </application>
</manifest>
